@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #09090b;
}

button {
  cursor: pointer;
}

::selection {
  color: black;
  background: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #09090b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

.button-filled {
  background-color: white;
  /* box-shadow: rgba(230, 230, 230, 0.25) 0px 7px 9px -5px,
    rgba(224, 224, 224, 0.3) 0px 8px 11px -8px; */
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
}

.button-outlined {
  border: none;
  outline: 1px solid #27272a;
  background-color: #09090b;
  /* box-shadow: rgba(100, 100, 100, 0.25) 0px 7px 9px -5px,
    rgba(85, 85, 85, 0.3) 0px 8px 11px -8px; */
  font-size: 0.9rem;
  border-radius: 0.4rem;
  color: white;
  padding: 0.4rem 0.6rem;
}
.button-borderless {
  border: none;
  color: #828283;
  background-color: #09090b;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
}

.input-filled {
  background-color: #fafafa;
  color: #09090b;
  &::placeholder {
    color: #09090b;
  }
  border: 1px solid gray;
  outline: 1px solid #27272a;
}

.input-outlined {
  border: none;
  color: #858586;
  outline: 1px solid #27272a;
  background-color: #09090b;
}

.input-label-animation {
  background-color: #09090b;
  color: #858586;
  border: none;
  outline: none;
}

.input-outlined:focus {
  outline: 1px solid white;
}

.button-borderless:hover {
  color: white;
}

.button-filled:hover,
.button-outlined:hover,
.button-borderless:hover {
  opacity: 0.6;
}

.transition-1 {
  transition: all 0.1s;
}
.transition-2 {
  transition: all 0.2s;
}
.transition-3 {
  transition: all 0.3s;
}
.transition-4 {
  transition: all 0.4s;
}
.transition-5 {
  transition: all 0.5s;
}
.transition-6 {
  transition: all 0.6s;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 0.2rem;
}
.gap-2 {
  gap: 0.4rem;
}
.gap-3 {
  gap: 0.6rem;
}
.gap-4 {
  gap: 0.8rem;
}
.gap-5 {
  gap: 1rem;
}

.jus-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.h-100 {
  height: 100vh;
}

.p-1 {
  padding: 0.1rem;
}
.p-2 {
  padding: 0.2rem;
}
.p-3 {
  padding: 0.3rem;
}
.p-4 {
  padding: 0.4rem;
}
.p-5 {
  padding: 0.5rem;
}

.b-radius-1 {
  border-radius: 0.1rem;
}
.b-radius-2 {
  border-radius: 0.2rem;
}
.b-radius-3 {
  border-radius: 0.3rem;
}
.b-radius-4 {
  border-radius: 0.4rem;
}
.b-radius-5 {
  border-radius: 0.5rem;
}

.text-underline {
  text-decoration: underline;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.b-radius-50 {
  border-radius: 50%;
}

.p-button {
  padding: 0.4rem 0.6rem;
}

.p-input {
  padding: 0.4rem 0.8rem;
}

.fs-1 {
  font-size: 0.8rem;
}
.fs-2 {
  font-size: 1rem;
}
.fs-3 {
  font-size: 1.2rem !important;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.form-group {
  position: relative;
  padding-top: 15px;
  margin-bottom: 1rem;
  width: auto;
}

.form-label {
  position: absolute;
  /* top: 10; */
  left: 0;
  padding: 0.4rem;
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: #09090b;
  color: #858586;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown).form-control:not(:focus) + .form-label {
  transform: translateY(-90%);
  color: #27272a;
  background-color: transparent;
  color: rgb(205, 206, 207);
}

.input-label-animation:focus + .form-label,
.input-label-animation:not(:placeholder-shown).input-label-animation:not(:focus)
  + .form-label {
  outline: none;
}

.input-label-animation {
  width: 370px;
  border-bottom: 1px solid #27272a;
}

.input-label-animation:focus {
  border-bottom: 1px solid rgb(219, 219, 219);
}

.checkbox {
  height: 17px;
  width: 17px;
  cursor: pointer;
  background-color: #09090b !important;
  border: 1px solid #828283;
  accent-color: #828283;
  border-radius: 0.2rem !important;
}

.label {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  color: white;
  transition: 0.1s;
}
.flex-col {
  flex-direction: column;
}

.checkbox:disabled + .label {
  cursor: not-allowed;
  opacity: 0.7;
}

.label:hover {
  color: #c4c4c4;
}

.date-picker-container {
  border: 1px solid #27272a;
  padding: 1rem;
  border-radius: 0.3rem;
}

.date-picker-container .react-datepicker__day--keyboard-selected,
.date-picker-container .react-datepicker__day--selected {
  background-color: white;
  color: white !important; /* Seçili gün için arkaplan rengi */
}

.react-datepicker__day--selected:hover {
  background-color: #09090b;
}

.date-picker-container .react-datepicker__day:hover {
  outline: 1px solid #27272a;
  background-color: #09090b;
  color: white;
}

.day-content {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.date-picker-container .react-datepicker__input-container input {
  background-color: #09090b;
  outline: 1px solid #27272a;
  border: none;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.date-picker-container .react-datepicker__day--weekend {
  color: #606064;
}

.date-picker-container .react-datepicker {
  background-color: #09090b;
  border: 1px solid #ddd;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
}

.date-picker-container .react-datepicker__day {
  color: white;
}

.date-picker-container .react-datepicker__day--selected {
  background-color: white; /* Seçili gün için arka plan rengi */
  color: black !important; /* Seçili gün için yazı rengi */
}

.date-picker-container .react-datepicker__day--selected:hover {
  background-color: white; /* Seçili gün için arka plan rengi */
  color: black !important; /* Seçili gün için yazı rengi */
}

.date-picker-container .react-datepicker__day--today {
  font-weight: bold;
  color: #09090b !important;
}

.new {
  padding: 50px;
}

.bold {
  font-weight: 600;
}

.combobox-container {
  width: 110px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.mail {
  border: 1px solid #27272a;
  padding: 1rem;
  border-radius: 0.3rem;
}

.combobox {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  color: white;
  background-color: #09090b;
  border: 1px solid #27272a;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.combobox:focus {
  border-color: white;
  outline: 0;
}

.arrowIcon {
  position: absolute;
  top: 17px;
  right: 12px;
}

#footer {
  border-top: 1px solid #27272a;
  padding: 2.2rem;
  margin-top: 1rem;
  width: 100%;
  .footer-div {
    color: white;
    display: flex;
    gap: 0.3rem;
    font-size: 14px;
    width: 1200px;
    margin: auto;
    color: #939399;
    a {
      color: white;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* İçerik bölümü için stil */
.content-wrap {
  flex: 1;
}

.container {
  width: fit-content;
  gap: 4px;
  position: relative;
}

.trigger-btn {
  border: none;
  background-color: #09090b;
  border: 1px solid #27272a;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.warn {
  outline: 1px solid #27272a;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.menubar-item {
  font-weight: 600;
  font-size: 13px;
  /* background-color: #09090b; */
}

.hover-card {
  position: absolute;
  top: 60px;
  left: -120px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s linear;
}

.show {
  visibility: visible;
  opacity: 1;
}

.card-content {
  display: flex;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  margin-left: 1.5rem !important;
}

.m-auto {
  margin: auto;
}

.joined {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.calendar-icon {
  width: 16px;
  height: 16px;
}

.menubar {
  border: 1px solid #27272a;
  /* background-color: #09090b; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
}

.logo {
  padding: 0.1rem;
  cursor: pointer;
  padding-right: 0.9rem;
}

.space-between {
  justify-content: space-between;
}

.right-nav {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.let-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menubar-own {
  max-width: 1300px;
  margin: auto;
  border-radius: 0;
  border: 0;
  border-top: 0;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.menubars-cnt {
  width: 100%;
  border-bottom: 1px solid #151518;
  /* background-color: #09090b; */
  position: sticky !important;
  top: 0 !important;
  z-index: 50;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(9px) !important;
  transition: background-color 0.3s ease;
}

.notifs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.input-outlined-own {
  width: 250px;
}

.form-group-2 {
  display: block;
  margin-bottom: 15px;
}

.form-group-2 input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-2 label {
  position: relative;
  cursor: pointer;
  color: aliceblue;
}

.form-group-2 label:before {
  content: "";
  background-color: transparent;
  border: 1px solid aliceblue;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-right: 13px;
}

.form-group-2 input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 10px;
  border: solid aliceblue;
  border-radius: 0.1rem;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem;
}

.copy-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

header {
  font-size: 60px;
  color: white;
  font-weight: 700;
}

.preview {
  background-color: #0f0f12;
  padding: 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #27272a;
}

.head {
  font-size: 36px;
  color: white;
}
.head-2 {
  font-size: 26px;
  margin: 2rem 0;
  color: white;
}
.head-3 {
  font-size: 19px;
  margin: 1rem 0;
  color: white;
}

.par {
  color: #a1a1aa;
  font-size: 15px;
  width: 560px;
  text-align: center;
}

.main-cnt {
  display: flex;
  flex-direction: column;
  color: white;
  width: 1200px;
}

.main-ul {
  display: flex;
  gap: 0.7rem;
  margin: 0.5rem;
}

li {
  list-style: none;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.par-2 {
  color: #747477;
  font-size: 13px;
}
.par-3 {
  color: #747477;
  font-size: 15px;
}
.par-4 {
  color: #eee7e7;
  font-size: 15px;
  margin-top: 2.5rem;
}
.par-5 {
  color: white;
  font-size: 15px;
}

.capital {
  text-transform: capitalize;
}

.auth-cnt {
  position: relative;
  padding: 0rem 5rem;
  display: flex;
  width: 500px;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.form-group-2 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group-2 input {
  margin-right: 10px; /* Label'ın hemen solunda olacak şekilde input ve label arasında boşluk */
}

/* Diğer CSS kurallarınız... */

.or-with {
  color: #747477;
  font-size: 13px;
  top: 185px;
  background-color: #09090b;
  padding: 0.4rem;
  left: 200px;
  text-align: center;
}

.right-top {
  position: absolute;
  top: 0;
  right: 0;
}

.auth {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.hr {
  height: 400px;
  width: 1px;
  border: 1px solid #27272a91;
}

.auth {
  border: 1px solid #27272a;
  padding: 2rem;
  border-radius: 0.3rem;
}

.register-2 {
  border: 1px solid #27272a;
  padding: 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mail-div {
  padding: 1rem;
  border: 1px solid #27272a;
  border-radius: 0.3rem;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #27272a;
  padding: 2rem;
  border-radius: 0.3rem;
  width: 400px !important;
}

.team {
  border: 1px solid #27272a;
  padding: 1rem;
  border-radius: 0.3rem;
  padding-bottom: 1.3rem;
}

.methods {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.3rem;
  button {
    width: 120px;
    padding: 0.6rem 0;
  }
}

.payment-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.method {
  align-items: center;
  gap: 0.5rem;
}

.fake-repo {
  border: 1px solid #27272a;
  padding: 1rem;
  border-radius: 0.3rem;
  position: relative;
  padding-bottom: 1.6rem;
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.star {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  input {
    width: 103px !important;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top {
  width: 200px;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 2rem;
  span {
    display: flex;
    gap: 0.4rem;
    align-items: center;
  }
}

.share-doc {
  border: 1px solid #27272a;
  padding: 1rem 1.2rem;
  border-radius: 0.3rem;
}

.border-bot {
  border-bottom: 1px solid #27272a;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.border-bot-2 {
  border-bottom: 1px solid #27272a;
  margin-top: 1.4rem;
}

.hori {
  border-bottom: 1px solid #27272a;
  margin: 1rem 0;
}

#Cards {
  margin-bottom: 1rem;
  display: grid;
  border: 1px solid #27272a;
  padding: 1rem;
  gap: 2rem;
  border-radius: 0.4rem;
  grid-template-columns: repeat(3, 1fr) !important;
  justify-content: center;
}

.notif {
  border: 1px solid #27272a;
  padding: 2rem;
  padding-bottom: 2.2rem;
  border-radius: 0.3rem;
}

#docs {
  width: 1000px;
  margin: auto;
  padding: 1rem;
}

.catalogs {
  display: flex;
  gap: 1.4rem;
  position: sticky;
  top: 70px;
  padding: 0.6rem;

  flex-direction: column;
  p {
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
  a {
    color: #96969e;
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

.combobox-container {
  position: relative;
}

.arrowIcon {
  cursor: pointer;
}

.header-head {
  text-align: center;
}

.combobox {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown {
  margin-top: 0.3rem;
  position: absolute;
  background-color: #09090b;
  width: 100%;
  border-radius: 0.2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 2;
}

.dropdown-item {
  padding: 5px 17px;
  transition: 0.1s;
  cursor: pointer;
  font-size: 14px;
  color: white;
  border-radius: 0.2rem;
  background-color: #09090b;
}

.dropdown-item:hover {
  background-color: #27272a;
}

.method.selected {
  background-color: white;
  color: #09090b;
  font-weight: 600;
}

.color-light {
  color: white;
}

.cat-item-selected {
  color: white !important;
}

.cat-item {
  font-size: 14px !important;
}

.cat-item:hover {
  color: #bbbbbd;
  text-decoration: underline;
}

.faq {
  color: white;
  font-weight: 600;
  font-size: 24px;
  border-bottom: 1px solid #27272a;
  padding-bottom: 1rem;
}

.accordion {
  max-width: 700px;
}

.turn-up {
  transition: 0.3s;
  transform: rotate(-180deg);
}

.turn-down {
  transition: 0.3s;
  transform: rotate(-360deg);
}

.accordion {
  margin-top: 2rem;
}

.accordion-content {
  padding: 1rem;
  font-size: 14px;
  color: white;
}

.height-tr {
  transition: 0.5s;
}

.accordion-trigger {
  background-color: #09090b;
  border: none;
  outline: none;
  color: white;
}

.acc-flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .main-cnt {
    width: auto !important;
  }
  #docs {
    width: auto !important;
  }

  .methods {
    justify-content: center;
  }

  .payment {
    width: auto !important;
    text-align: center;
  }

  .footer-div {
    width: auto !important;
  }
  #Cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .auth {
    flex-direction: column;
    width: auto;
    .register {
      border-bottom: 1px solid #27272a;
      padding-bottom: 2rem;
    }
    .hr {
      display: none;
    }
  }
}


@media screen and (max-width: 900px) {
  /* TODO navbar responsive */
  .input-outlined-own {
    width: 100% !important;
  }

  .nav-items-div {
    display: none;
  }

  #Cards {
    grid-template-columns: repeat(1, 1fr) !important;
    margin: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .header-par {
    width: auto;
  }
}
