@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #09090b;
}

button {
  cursor: pointer;
}

.button-filled {
  background-color: white;
  /* box-shadow: rgba(230, 230, 230, 0.25) 0px 7px 9px -5px,
    rgba(224, 224, 224, 0.3) 0px 8px 11px -8px; */
  font-weight: 600;
  border: 1px solid gray;
  border-radius: 0.4rem;
}

.button-outlined {
  border: 1px solid #27272a;
  background-color: #09090b;
  /* box-shadow: rgba(100, 100, 100, 0.25) 0px 7px 9px -5px,
    rgba(85, 85, 85, 0.3) 0px 8px 11px -8px; */
  font-size: 0.9rem;
  border-radius: 0.4rem;
  color: white;
}
.button-borderless {
  border: none;
  color: #828283;
  background-color: #09090b;
  font-size: 0.9rem;
  border-radius: 0.4rem;
}

.input-filled {
  background-color: #fafafa;
  color: #09090b;
  &::placeholder {
    color: #09090b;
  }
  border: 1px solid gray;
  outline: 1px solid #27272a;
}

.input-outlined {
  border: none;
  color: #858586;
  outline: 1px solid #27272a;
  background-color: #09090b;
}

.input-label-aniation {
  background-color: #09090b;
  color: #858586;
  border: none;
  outline: none;
}

.input-outlined:focus {
  outline: 1px solid white;
}

.button-borderless:hover {
  color: white;
}

.button-filled:hover,
.button-outlined:hover,
.button-borderless:hover {
  opacity: 0.8;
}

.transition-1 {
  transition: all 0.1s;
}
.transition-2 {
  transition: all 0.2s;
}
.transition-3 {
  transition: all 0.3s;
}
.transition-4 {
  transition: all 0.4s;
}
.transition-5 {
  transition: all 0.5s;
}
.transition-6 {
  transition: all 0.6s;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 0.2rem;
}
.gap-2 {
  gap: 0.4rem;
}
.gap-3 {
  gap: 0.6rem;
}
.gap-4 {
  gap: 0.8rem;
}
.gap-5 {
  gap: 1rem;
}

.jus-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.h-100 {
  height: 100vh;
}

.p-1 {
  padding: 0.1rem;
}
.p-2 {
  padding: 0.2rem;
}
.p-3 {
  padding: 0.3rem;
}
.p-4 {
  padding: 0.4rem;
}
.p-5 {
  padding: 0.5rem;
}

.b-radius-1 {
  border-radius: 0.1rem;
}
.b-radius-2 {
  border-radius: 0.2rem;
}
.b-radius-3 {
  border-radius: 0.3rem;
}
.b-radius-4 {
  border-radius: 0.4rem;
}
.b-radius-5 {
  border-radius: 0.5rem;
}

.avatar {
  height: 33px;
  width: 33px;
  border-radius: 50%;
}

.b-radius-50 {
  border-radius: 50%;
}

.p-button {
  padding: 0.4rem 0.6rem;
}

.p-input {
  padding: 0.4rem 0.8rem;
}

.fs-1 {
  font-size: 0.8rem;
}
.fs-2 {
  font-size: 1rem;
}
.fs-3 {
  font-size: 1.2rem !important;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.form-group {
  position: relative;
  padding-top: 15px;
  margin-bottom: 1rem;
}

.form-label {
  position: absolute;
  top: 10;
  left: 0;
  padding: 0.4rem;
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: #09090b;
  color: #858586;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown).form-control:not(:focus) + .form-label {
  transform: translateY(-90%);
  color: #27272a;
  background-color: transparent;
  color: rgb(205, 206, 207);
}

.input-label-aniation:focus + .form-label,
.input-label-aniation:not(:placeholder-shown).input-label-aniation:not(:focus)
  + .form-label {
  outline: none;
}

.input-label-aniation:focus {
  border-bottom: 1px solid #828283;
}

.checkbox {
  height: 17px;
  width: 17px;
  cursor: pointer;
  background-color: #09090b !important;
  border: 1px solid #828283;
  accent-color: #828283;
  border-radius: 0.2rem !important;
}

.label {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  color: white;
  transition: 0.1s;
}

.checkbox:disabled + .label {
  cursor: not-allowed;
  opacity: 0.7;
}

.label:hover {
  color: #c4c4c4;
}

.new {
  padding: 50px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  color: white;
}

.form-group label:before {
  content: "";
  background-color: transparent;
  border: 1px solid white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-right: 13px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-radius: 0.1rem;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.combobox-container {
  width: 200px;
  margin: 20px;
  position: relative;
}

.combobox {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  color: white;
  background-color: #09090b;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.combobox:focus {
  border-color: white;
  outline: 0;
}

.color-light {
  color: white;
}

.arrowIcon {
  position: absolute;
  top: 17px;
  right: 12px;
}

.container {
  width: fit-content;
  gap: 4px;
  position: relative;
}

.trigger-btn {
  border: none;
  background-color: #09090b;
  border: 1px solid #27272a;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.menubar-item {
  font-weight: 600;
  font-size: 13px;
  background-color: #09090b;
}

.hover-card {
  position: absolute;
  top: 60px;
  left: -120px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s linear;
}

.show {
  visibility: visible;
  opacity: 1;
}

.card-content {
  display: flex;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  margin-left: 1.5rem !important;
}

.m-auto {
  margin: auto;
}

.joined {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.calendar-icon {
  width: 16px;
  height: 16px;
}

.menubar {
  border: 1px solid #27272a;
  /* background-color: #09090b; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
}

.logo {
  padding: 0.1rem;
  border-right: 1px solid #27272a;
  cursor: pointer;
  padding-right: 0.9rem;
}

.space-between {
  justify-content: space-between;
}

.right-nav {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.let-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menubar-own {
  max-width: 1300px;
  margin: auto;
  border-radius: 0;
  border: 0;
  border-top: 0;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.menubars-cnt {
  width: 100%;
  border-bottom: 1px solid #151518;
  /* background-color: #09090b; */
  position: sticky !important;
  top: 0 !important;
  z-index: 50;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  transition: background-color 0.3s ease;
}

.input-outlined-own {
  width: 250px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem;
}

header {
  font-size: 60px;
  color: white;
  font-weight: 700;
}

.par {
  color: #a1a1aa;
  font-size: 15px;
  width: 560px;
  text-align: center;
}
